/* enter in terminal to update css stylesheet

sass --watch assets/sass/style.scss assets/css/style.css

*/

////////////////////////////////////////variables
////////////////////global
$color-white: #ebebeb;
$color-black: #222222;
$shadow: rgba(34, 34, 34, .5);

////////////////////newyears
$newyears-1: #4b4a4a;
$newyears-2: #7a7c71;
$newyears-3: #f1e5d4;
$newyears-4: #e3be79;
$newyears-5: #4c3a16;

////////////////////valentines
$valentines-1: #0d0c0c;
$valentines-2: #787c7c;
$valentines-3: #f3f2f2;
$valentines-4: #c02a29;
$valentines-5: #6d1415;

////////////////////starwars
$starwars-1: #2c2a2a;
$starwars-2: #6c6b5c;
$starwars-3: #aaaba4;
$starwars-4: #808c82;
$starwars-5: #76848c;

////////////////////independence
$independence-1: #223e88;
$independence-2: #0168ad;
$independence-3: #d8d8d8;
$independence-4: #b61f24;
$independence-5: #800507;

////////////////////halloween
$halloween-1: #3d261b;
$halloween-2: #e18619;
$halloween-3: #f8cdb9;
$halloween-4: #ea6628;
$halloween-5: #7f2908;

////////////////////christmas
$christmas-1: #36312c;
$christmas-2: #b0a3a5;
$christmas-3: #dddce2;
$christmas-4: #c10f11;
$christmas-5: #701814;

////////////////////////////////////////styles

////////////////////global

*, *::before, *::after {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;	/* 1rem = 10px */
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  font-size: 4rem;
  font-weight: 900;
  font-family: Georgia, Times, serif;
  text-align: center;
  padding: 5rem 0;
  & #event {
    text-transform: capitalize;
  }
}

.timer {
  margin: 0 auto;
  padding: 5rem 0;
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__days, 
  &__hours, 
  &__minutes, 
  &__seconds {
    flex: 0 0 75px;
    height: 75px;
    text-align: center;
    font-size: 4rem;
    font-family: math;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid;
    border-radius: 12px;
    box-shadow: 0 1rem 1.5rem $shadow;
  }
  &__days::after{
    content: "days";
  }
  &__hours::after {
    content: "hours";
  } 
  &__minutes::after {
    content: "minutes";
  } 
  &__seconds::after {
    content: "seconds";
  }
  &__days::after, 
  &__hours::after, 
  &__minutes::after, 
  &__seconds::after {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
  }
}

////////////////////navigation
.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    cursor: pointer;
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    position: fixed;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000;
    box-shadow: 0 1rem 1.5rem $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__background {
    height: 8rem;
    width: 8rem;
    border-radius: 100%;
    position: fixed;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &__nav {
    height: 0;
    width: 0;
    opacity: 0;
    position: fixed;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100%;
    padding-top: 3rem;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    display: inline-block;
    &:link,
    &:visited {
      font-size: 2.5rem;
      font-weight: 300;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      background-size: 250%;
      transition: all 0.4s;
      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
    &:hover,
    &active {
      background-position: 100%;
      transform: translateX(1rem);
    }
  }
  //functionality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    height: 100vh;
    width: 100vw;
    top: 50%;

  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }
  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    bottom: 0;
  }
  //icon
  &__icon {
    display: flex;
    flex-direction: column;
    position: relative;
    &,
    &::before,
    &::after {
      width: 5rem;
      height: 2px;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      transition: all 0.3s;
      position: absolute;
      left: 0;
    }
    &::before {
      top: -1rem;
    }
    &::after {
      bottom: -1rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1.5rem;
  }
  &__button:hover &__icon::after {
    bottom: -1.5rem;
  }
}

////////////////////newyears

.newyears {
  background-image: url(../images/newyears-bg.jpg);
  background-position: 90%;
  & header {
    color: $newyears-4;
    text-shadow: 0 .3rem .6rem rgba($newyears-1, 75%);
  }
  & .timer {
    color: $newyears-5;
    &__days, 
    &__hours, 
    &__minutes, 
    &__seconds {
      border-color: $newyears-2;
      background-color: $newyears-3;
    }
  }
  & .navigation {
    &__button {
      background-image: radial-gradient($newyears-4, $newyears-5);
      border: .5rem solid $newyears-3;
    }
    &__background {
      background-image: radial-gradient($newyears-2, $newyears-3);
    }
    &__link {
      &:link,
      &:visited {
        color: $newyears-3;
        background-image: linear-gradient(120deg, transparent 50%, $newyears-4 50%);
      }  
      &:hover,
      &active {
        color: $newyears-3;
      }  
    }
    &__icon {
      &,
      &::before,
      &::after {
        background-color: $newyears-2;
      }
    }
  }
}

////////////////////valentines

.valentines {
  background-image: url(../images/valentines-bg.png);
  & header {
    color: $valentines-4;
    text-shadow: 0 .3rem .6rem rgba($valentines-1, 75%);
  }
  & .timer {
    color: $valentines-5;
    &__days, 
    &__hours, 
    &__minutes, 
    &__seconds {
      border-color: $valentines-2;
      background-color: $valentines-3;
    }
  }
  & .navigation {
    &__button {
      background-image: radial-gradient($valentines-4, $valentines-5);
      border: .5rem solid $valentines-3;
    }
    &__background {
      background-image: radial-gradient($valentines-2, $valentines-3);
    }
    &__link {
      &:link,
      &:visited {
        color: $valentines-3;
        background-image: linear-gradient(120deg, transparent 50%, $valentines-4 50%);
      }  
      &:hover,
      &active {
        color: $valentines-3;
      }  
    }
    &__icon {
      &,
      &::before,
      &::after {
        background-color: $valentines-2;
      }
    }
  }
}

////////////////////starwars

.starwars {
  background-image: url(../images/starwars-bg.jpg);
  & header {
    color: $starwars-4;
    text-shadow: 0 .3rem .6rem rgba($starwars-1, 75%);
  }
  & .timer {
    color: $starwars-5;
    &__days, 
    &__hours, 
    &__minutes, 
    &__seconds {
      border-color: $starwars-2;
      background-color: $starwars-3;
    }
  }
  & .navigation {
    &__button {
      background-image: radial-gradient($starwars-4, $starwars-5);
      border: .5rem solid $starwars-3;
    }
    &__background {
      background-image: radial-gradient($starwars-2, $starwars-3);
    }
    &__link {
      &:link,
      &:visited {
        color: $starwars-3;
        background-image: linear-gradient(120deg, transparent 50%, $starwars-4 50%);
      }  
      &:hover,
      &active {
        color: $starwars-3;
      }  
    }
    &__icon {
      &,
      &::before,
      &::after {
        background-color: $starwars-2;
      }
    }
  }
}

////////////////////independence

.independence {
  background-image: url(../images/independence-bg.jpg);
  & header {
    color: $independence-4;
    text-shadow: 0 .3rem .6rem rgba($independence-1, 75%);
  }
  & .timer {
    color: $independence-5;
    &__days, 
    &__hours, 
    &__minutes, 
    &__seconds {
      border-color: $independence-2;
      background-color: $independence-3;
    }
  }
  & .navigation {
    &__button {
      background-image: radial-gradient($independence-4, $independence-5);
      border: .5rem solid $independence-3;
    }
    &__background {
      background-image: radial-gradient($independence-2, $independence-3);
    }
    &__link {
      &:link,
      &:visited {
        color: $independence-3;
        background-image: linear-gradient(120deg, transparent 50%, $independence-4 50%);
      }  
      &:hover,
      &active {
        color: $independence-3;
      }  
    }
    &__icon {
      &,
      &::before,
      &::after {
        background-color: $independence-2;
      }
    }
  }
}

////////////////////halloween

.halloween {
  background-image: url(../images/halloween-bg.jpg);
  background-position: left;
  & header {
    color: $halloween-4;
    text-shadow: 0 .3rem .6rem rgba($halloween-1, 75%);
  }
  & .timer {
    color: $halloween-5;
    &__days, 
    &__hours, 
    &__minutes, 
    &__seconds {
      border-color: $halloween-2;
      background-color: $halloween-3;
    }
  }
  & .navigation {
    &__button {
      background-image: radial-gradient($halloween-4, $halloween-5);
      border: .5rem solid $halloween-3;
    }
    &__background {
      background-image: radial-gradient($halloween-2, $halloween-3);
    }
    &__link {
      &:link,
      &:visited {
        color: $halloween-3;
        background-image: linear-gradient(120deg, transparent 50%, $halloween-4 50%);
      }  
      &:hover,
      &active {
        color: $halloween-3;
      }  
    }
    &__icon {
      &,
      &::before,
      &::after {
        background-color: $halloween-2;
      }
    }
  }
}

////////////////////christmas

.christmas {
  background-image: url(../images/christmas-bg.png);
  & header {
    color: $christmas-4;
    text-shadow: 0 .3rem .6rem rgba($christmas-1, 75%);
  }
  & .timer {
    color: $christmas-5;
    &__days, 
    &__hours, 
    &__minutes, 
    &__seconds {
      border-color: $christmas-2;
      background-color: $christmas-3;
    }
  }
  & .navigation {
    &__button {
      background-image: radial-gradient($christmas-4, $christmas-5);
      border: .5rem solid $christmas-3;
    }
    &__background {
      background-image: radial-gradient($christmas-2, $christmas-3);
    }
    &__link {
      &:link,
      &:visited {
        color: $christmas-3;
        background-image: linear-gradient(120deg, transparent 50%, $christmas-4 50%);
      }  
      &:hover,
      &active {
        color: $christmas-3;
      }  
    }
    &__icon {
      &,
      &::before,
      &::after {
        background-color: $christmas-2;
      }
    }
  }
}