/* enter in terminal to update css stylesheet

sass --watch assets/sass/style.scss assets/css/style.css

*/
*, *::before, *::after {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  font-size: 4rem;
  font-weight: 900;
  font-family: Georgia, Times, serif;
  text-align: center;
  padding: 5rem 0;
}
header #event {
  text-transform: capitalize;
}

.timer {
  margin: 0 auto;
  padding: 5rem 0;
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.timer__days, .timer__hours, .timer__minutes, .timer__seconds {
  flex: 0 0 75px;
  height: 75px;
  text-align: center;
  font-size: 4rem;
  font-family: math;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid;
  border-radius: 12px;
  box-shadow: 0 1rem 1.5rem rgba(34, 34, 34, 0.5);
}
.timer__days::after {
  content: "days";
}
.timer__hours::after {
  content: "hours";
}
.timer__minutes::after {
  content: "minutes";
}
.timer__seconds::after {
  content: "seconds";
}
.timer__days::after, .timer__hours::after, .timer__minutes::after, .timer__seconds::after {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  cursor: pointer;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  position: fixed;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
  box-shadow: 0 1rem 1.5rem rgba(34, 34, 34, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__background {
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  position: fixed;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 0;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: center;
  width: 100%;
  padding-top: 3rem;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link {
  display: inline-block;
}
.navigation__link:link, .navigation__link:visited {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 250%;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__linkactive {
  background-position: 100%;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  height: 100vh;
  width: 100vw;
  top: 50%;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  bottom: 0;
}
.navigation__icon {
  display: flex;
  flex-direction: column;
  position: relative;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 5rem;
  height: 2px;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  transition: all 0.3s;
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -1rem;
}
.navigation__icon::after {
  bottom: -1rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1.5rem;
}
.navigation__button:hover .navigation__icon::after {
  bottom: -1.5rem;
}

.newyears {
  background-image: url(../images/newyears-bg.jpg);
  background-position: 90%;
}
.newyears header {
  color: #e3be79;
  text-shadow: 0 0.3rem 0.6rem rgba(75, 74, 74, 0.75);
}
.newyears .timer {
  color: #4c3a16;
}
.newyears .timer__days, .newyears .timer__hours, .newyears .timer__minutes, .newyears .timer__seconds {
  border-color: #7a7c71;
  background-color: #f1e5d4;
}
.newyears .navigation__button {
  background-image: radial-gradient(#e3be79, #4c3a16);
  border: 0.5rem solid #f1e5d4;
}
.newyears .navigation__background {
  background-image: radial-gradient(#7a7c71, #f1e5d4);
}
.newyears .navigation__link:link, .newyears .navigation__link:visited {
  color: #f1e5d4;
  background-image: linear-gradient(120deg, transparent 50%, #e3be79 50%);
}
.newyears .navigation__link:hover, .newyears .navigation__linkactive {
  color: #f1e5d4;
}
.newyears .navigation__icon, .newyears .navigation__icon::before, .newyears .navigation__icon::after {
  background-color: #7a7c71;
}

.valentines {
  background-image: url(../images/valentines-bg.png);
}
.valentines header {
  color: #c02a29;
  text-shadow: 0 0.3rem 0.6rem rgba(13, 12, 12, 0.75);
}
.valentines .timer {
  color: #6d1415;
}
.valentines .timer__days, .valentines .timer__hours, .valentines .timer__minutes, .valentines .timer__seconds {
  border-color: #787c7c;
  background-color: #f3f2f2;
}
.valentines .navigation__button {
  background-image: radial-gradient(#c02a29, #6d1415);
  border: 0.5rem solid #f3f2f2;
}
.valentines .navigation__background {
  background-image: radial-gradient(#787c7c, #f3f2f2);
}
.valentines .navigation__link:link, .valentines .navigation__link:visited {
  color: #f3f2f2;
  background-image: linear-gradient(120deg, transparent 50%, #c02a29 50%);
}
.valentines .navigation__link:hover, .valentines .navigation__linkactive {
  color: #f3f2f2;
}
.valentines .navigation__icon, .valentines .navigation__icon::before, .valentines .navigation__icon::after {
  background-color: #787c7c;
}

.starwars {
  background-image: url(../images/starwars-bg.jpg);
}
.starwars header {
  color: #808c82;
  text-shadow: 0 0.3rem 0.6rem rgba(44, 42, 42, 0.75);
}
.starwars .timer {
  color: #76848c;
}
.starwars .timer__days, .starwars .timer__hours, .starwars .timer__minutes, .starwars .timer__seconds {
  border-color: #6c6b5c;
  background-color: #aaaba4;
}
.starwars .navigation__button {
  background-image: radial-gradient(#808c82, #76848c);
  border: 0.5rem solid #aaaba4;
}
.starwars .navigation__background {
  background-image: radial-gradient(#6c6b5c, #aaaba4);
}
.starwars .navigation__link:link, .starwars .navigation__link:visited {
  color: #aaaba4;
  background-image: linear-gradient(120deg, transparent 50%, #808c82 50%);
}
.starwars .navigation__link:hover, .starwars .navigation__linkactive {
  color: #aaaba4;
}
.starwars .navigation__icon, .starwars .navigation__icon::before, .starwars .navigation__icon::after {
  background-color: #6c6b5c;
}

.independence {
  background-image: url(../images/independence-bg.jpg);
}
.independence header {
  color: #b61f24;
  text-shadow: 0 0.3rem 0.6rem rgba(34, 62, 136, 0.75);
}
.independence .timer {
  color: #800507;
}
.independence .timer__days, .independence .timer__hours, .independence .timer__minutes, .independence .timer__seconds {
  border-color: #0168ad;
  background-color: #d8d8d8;
}
.independence .navigation__button {
  background-image: radial-gradient(#b61f24, #800507);
  border: 0.5rem solid #d8d8d8;
}
.independence .navigation__background {
  background-image: radial-gradient(#0168ad, #d8d8d8);
}
.independence .navigation__link:link, .independence .navigation__link:visited {
  color: #d8d8d8;
  background-image: linear-gradient(120deg, transparent 50%, #b61f24 50%);
}
.independence .navigation__link:hover, .independence .navigation__linkactive {
  color: #d8d8d8;
}
.independence .navigation__icon, .independence .navigation__icon::before, .independence .navigation__icon::after {
  background-color: #0168ad;
}

.halloween {
  background-image: url(../images/halloween-bg.jpg);
  background-position: left;
}
.halloween header {
  color: #ea6628;
  text-shadow: 0 0.3rem 0.6rem rgba(61, 38, 27, 0.75);
}
.halloween .timer {
  color: #7f2908;
}
.halloween .timer__days, .halloween .timer__hours, .halloween .timer__minutes, .halloween .timer__seconds {
  border-color: #e18619;
  background-color: #f8cdb9;
}
.halloween .navigation__button {
  background-image: radial-gradient(#ea6628, #7f2908);
  border: 0.5rem solid #f8cdb9;
}
.halloween .navigation__background {
  background-image: radial-gradient(#e18619, #f8cdb9);
}
.halloween .navigation__link:link, .halloween .navigation__link:visited {
  color: #f8cdb9;
  background-image: linear-gradient(120deg, transparent 50%, #ea6628 50%);
}
.halloween .navigation__link:hover, .halloween .navigation__linkactive {
  color: #f8cdb9;
}
.halloween .navigation__icon, .halloween .navigation__icon::before, .halloween .navigation__icon::after {
  background-color: #e18619;
}

.christmas {
  background-image: url(../images/christmas-bg.png);
}
.christmas header {
  color: #c10f11;
  text-shadow: 0 0.3rem 0.6rem rgba(54, 49, 44, 0.75);
}
.christmas .timer {
  color: #701814;
}
.christmas .timer__days, .christmas .timer__hours, .christmas .timer__minutes, .christmas .timer__seconds {
  border-color: #b0a3a5;
  background-color: #dddce2;
}
.christmas .navigation__button {
  background-image: radial-gradient(#c10f11, #701814);
  border: 0.5rem solid #dddce2;
}
.christmas .navigation__background {
  background-image: radial-gradient(#b0a3a5, #dddce2);
}
.christmas .navigation__link:link, .christmas .navigation__link:visited {
  color: #dddce2;
  background-image: linear-gradient(120deg, transparent 50%, #c10f11 50%);
}
.christmas .navigation__link:hover, .christmas .navigation__linkactive {
  color: #dddce2;
}
.christmas .navigation__icon, .christmas .navigation__icon::before, .christmas .navigation__icon::after {
  background-color: #b0a3a5;
}

/*# sourceMappingURL=style.css.map */
