$background: #5d5455;
$colortext: #f2d6c7;
$color1: #ea4033;
$color2: #e5a67b;
$color3: #9dbc9d;
$color4: #6d8ba7;

html { font-size: 62.5%; }

body { background-color: $background; }

#container {
  display: grid;
  grid-template-columns: repeat( 4, 9rem );
  grid-template-rows: 15rem 9rem 2.5rem 18rem;
  grid-gap: 1rem;
  padding: 4rem 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $colortext;
  font-size: 1.6rem;
}

.banner {
  grid-column: 1/span 4;
  grid-row: 1/span 1;
  font-size: 4rem;
  font-weight: 600;
  color: darken( $color3, 10% );
}

.timer {
  font-size: 3em;
  border-radius: 50%;
  line-height: 9rem;
}

#days {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  background-color: $color1;
}

.days-label {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}

#hours {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  background-color: $color2;
}

.hours-label {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
}

#minutes {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  background-color: $color3;
}

.minutes-label {
  grid-column: 3/span 1;
  grid-row: 3/span 1;
}

#seconds {
  grid-column: 4/span 1;
  grid-row: 2/span 1;
  background-color: $color4;
}

.seconds-label {
  grid-column: 4/span 1;
  grid-row: 3/span 1;
}

.optionform {
  grid-column: 2/span 2;
  grid-row: 4/span 1;
  text-align: left;
  font-size: 2rem;
}